			<div class="messagebody">
				

				<div class="messagecontainer">
					&nbsp;
<div class="allmessagecontainer">
						<div class="singlemessage" *ngFor="let message of messages">
						<div class="messages">
						<div class="msg">
							<div class="messagername">
									<div style="display: flex;">
				<p class="onlinesymbol">&#x25C9; </p> <p class="messagerusername"> &nbsp; {{message.senderId}}</p>
			</div>
							</div>
							
							<div class="messagecontent">
								<p>
{{message.messageActual}}
								</p>

							</div>


						</div>
						
						

					</div>
					
					</div>
					
					


</div>
				
					<div class="inputmessage">
						<div class="addmessagecontent">
								<i style="font-size:2em;padding: 0.5vw;color:black; padding-left:1vw;" class="fa fa-plus"></i>
							</div>
							
								<input type="text" class="actualmessage" name="">
							
						
					</div>









				</div>



				

			</div>