			
<div class="allmessagecontainer">
						<div class="singlemessage" *ngFor="let message of messages">
						<div class="messages">
						<div class="msg">
							<div class="messagername">
									<div style="display: flex;">
				<p class="onlinesymbol">&#x25C9; </p> <p class="messagerusername"> &nbsp; {{message.senderId}}</p>
			</div>
							</div>
							
							<div class="messagecontent">
								<p>
{{message.messageActual}}
								</p>

							</div>


						</div>
						
						

					</div>
					
					</div>
					
					


</div>
				
					